.container {
  display: flex;
  padding: 0.5rem;
  box-shadow: inset 0 0 0 1px hsl(0, 0%, 90%);
  border-radius: 0.25rem;

  @media screen and (max-width: 36rem) {
    width: 100%;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2rem;
  border-radius: 0.25rem;
  color: hsl(0, 0%, 30%);
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  transition: 0.15s;

  & + & {
    margin-left: 0.5rem;
  }

  &:hover {
    background-color: hsl(0, 0%, 97%);
  }

  &:active {
    background-color: hsl(0, 0%, 95%);
  }

  @media screen and (max-width: 36rem) {
    width: 100%;
  }
}

.active {
  color: hsl(0, 0%, 97%);
  background-color: hsl(258, 76%, 60%);

  &:hover {
    background-color: hsl(258, 76%, 55%);
  }
}
