.container {
  display: flex;
  padding: 0.5rem;
  border: 1px solid var(--switch-border);
  background-color: var(--switch-bg);
  border-radius: 0.25rem;
  transition: 0.15s;

  @media screen and (max-width: 36rem) {
    width: 100%;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2rem;
  border-radius: 0.25rem;
  color: var(--text-color);
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  transition: 0.15s;

  & + & {
    margin-left: 0.5rem;
  }

  &:hover {
    background-color: var(--switch-bg-hover);
  }

  &:active {
    background-color: var(--switch-bg-active);
  }

  @media screen and (max-width: 36rem) {
    width: 100%;
  }
}

.active {
  color: hsl(0, 0%, 97%);
  background-color: var(--c-primary);

  &:hover {
    background-color: var(--c-primary);
  }
}
