.container {
}

.base {
  outline: none;
  border: none;
  display: block;
  box-shadow: 0 0 0 2px var(--input-border);
  background-color: var(--input-bg);
  color: var(--input-color);
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
  transition: 0.15s;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 1rem;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 0 2px var(--input-border-hover);
    background-color: var(--input-bg-hover);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--input-border-focus);
    background-color: var(--input-bg-active);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.75;
  }

  &::placeholder {
    color: var(--input-color);
    opacity: 0.5;
  }
}

.label {
  display: inline-block;
  margin-bottom: 0.375rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 500;
  color: var(--input-label);
}
