.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  & > * + * {
    margin-left: 1rem;
  }
}
