.container {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  width: 100%;
  margin: 0 auto;

  & > * + * {
    margin-top: 1rem;
  }

  & > button {
    margin-top: 2rem;
  }
}

.title {
  text-align: center;
  font-size: 1.5rem;
}
