.container {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 24px var(--card-shadow);
  transition: 0.15s;

  & > * + * {
    margin-top: 1rem;
  }

  & > button {
    margin-top: 2rem;
  }

  & > a {
    display: inline-block;
    align-self: flex-start;
    color: var(--c-primary);
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  transition: 0.15s;
}

.error {
  color: hsl(0, 85%, 55%);
  font-weight: 500;
}
